@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #272727;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes borderHighlight {
    0% {
        border-color: black;
    }

    50% {
        border-color: white;
    }

    100% {
        border-color: black;
    }
}

.highlight-border {
    animation: borderHighlight 1s linear infinite;
    transition: border-color 0.3s ease;
}